.saved-movies__line {
  border: 1px #E8E8E8 solid;
  margin: 0 auto;
  padding: 0;
  margin: 69px 70px 80px; 
}

@media screen and (max-width: 990px) {
  .saved-movies__line {
    margin: 109px 30px 80px; 
  }
}

@media screen and (max-width: 767px) {
  .saved-movies__line {
    margin: 45px 14px 50px; 
  }
}